# Configurações do Django
DJANGO_SECRET_KEY=sua_chave_secreta_aqui_para_producao
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=axionconsultoria.com.br,www.axionconsultoria.com.br

# Configurações do Banco de Dados PostgreSQL
DB_NAME=axion_db
DB_USER=axion_user
DB_PASSWORD=insira_senha_forte_aqui
DB_HOST=127.0.0.1
DB_PORT=5432
